/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body */
body{
    font-family: 'Fredoka', sans-serif;
}

/* main */
main{
    margin: 30px 13%;
}

.space::after{
    clear: both;
    display: table;
    content: "";
}

.up{
    text-align: center;
}

h1{
    color: rgb(229, 49, 112);
    margin-bottom: 30px;
}

.po{
    margin-bottom: 30px;
}

/* teams */

.teams{
    
    width: 100%;
}

img{
    
    max-height: 100%;
    margin-right: 5px;
    float: left;
    
   
}

.space{
    margin-bottom: 30px;
    margin-right: 10px;
    background-color: rgb(15, 14, 23);
    color: #fff;
    height: 6rem;
    width: 100%;
    line-height: 2rem 
    
}

h2{
    font-size: medium;
}

.left{
    width: calc(100% / 3);
    float: left;
}


.mid{
    width: calc(100% / 3);
    float: left;
}

.right{
    float: left;
    width: calc(100% / 3);
}
